<p id="notice"><%= notice %></p>

<p>
  <b>Matricula:</b>
  <%= @datos_significativo.matricula %>
</p>

<p>
  <b>Cambio residencia:</b>
  <%= @datos_significativo.cambio_residencia %>
</p>

<p>
  <b>Accidentes:</b>
  <%= @datos_significativo.accidentes %>
</p>

<p>
  <b>Muertes:</b>
  <%= @datos_significativo.muertes %>
</p>

<p>
  <b>Separacion:</b>
  <%= @datos_significativo.separacion %>
</p>

<p>
  <b>Divorcio:</b>
  <%= @datos_significativo.divorcio %>
</p>

<p>
  <b>Problemas escolares:</b>
  <%= @datos_significativo.problemas_escolares %>
</p>

<p>
  <b>Perdida de empleo:</b>
  <%= @datos_significativo.perdida_de_empleo %>
</p>

<p>
  <b>Enfermedades:</b>
  <%= @datos_significativo.enfermedades %>
</p>

<p>
  <b>Problemas economicos:</b>
  <%= @datos_significativo.problemas_economicos %>
</p>

<p>
  <b>Asalto:</b>
  <%= @datos_significativo.asalto %>
</p>

<p>
  <b>Secuestro:</b>
  <%= @datos_significativo.secuestro %>
</p>

<p>
  <b>Carcel:</b>
  <%= @datos_significativo.carcel %>
</p>

<p>
  <b>Problemas genericos:</b>
  <%= @datos_significativo.problemas_genericos %>
</p>

<p>
  <b>Embarazo:</b>
  <%= @datos_significativo.embarazo %>
</p>

<p>
  <b>Otros:</b>
  <%= @datos_significativo.otros %>
</p>


<%= link_to 'Edit', edit_datos_significativo_path(@datos_significativo) %> |
<%= link_to 'Back', datos_significativos_path %>
