<p id="notice"><%= notice %></p>

<p>
  <b>Foto:</b>
  <%= @contacto.foto %>
</p>

<p>
  <b>Matricula:</b>
  <%= @contacto.matricula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @contacto.nombre %>
</p>

<p>
  <b>Sexo:</b>
  <%= @contacto.sexo %>
</p>

<p>
  <b>Edad:</b>
  <%= @contacto.edad %>
</p>

<p>
  <b>Domicilio:</b>
  <%= @contacto.domicilio %>
</p>

<p>
  <b>Colonia:</b>
  <%= @contacto.colonia %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @contacto.ciudad %>
</p>

<p>
  <b>Fecha alta:</b>
  <%= @contacto.fecha_alta %>
</p>

<p>
  <b>Telefono:</b>
  <%= @contacto.telefono %>
</p>

<p>
  <b>Edo civil:</b>
  <%= @contacto.Edo_Civil %>
</p>

<p>
  <b>Email:</b>
  <%= @contacto.email %>
</p>

<p>
  <b>Motivo consulta:</b>
  <%= @contacto.motivo_consulta %>
</p>


<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
